<div class="navbar">
  <div class="container">
    <div class="logo">
        <img src="https://images.app.goo.gl/2PwyYKu7EdRWo6Fi9">
    </div>
      <div class="search_box"> 
        <input type="text">
      </div>
        <div class="navbar-list" >
          <div class="navbar-item"> 
            <a href="#">Home</a>
          </div>
          <div>
            <a href="#">shop</a>
          </div>
          <div>
            <a href="#">product</a>
        </div>
        </div>
  </div>
</div>