img{
  height: 300px;
  padding-right: 20px;
 
}
.product_list{
  padding-bottom: 50px;
}
.product_name{
  font-size: 30px;
  font-weight: bold;
}
.product_description{
  font-size: 15px;
  
}
.product_price{
  color: red;
  margin-top: 5px;
}
.add_product{
  background-color: orange;
  border-radius: 5px ;
  color: black;
  margin-top: 10px;
}